.secondContainer {
  background-image: url('../svg/background/bus.svg');
  justify-content: center;
  align-items: center;
}

#bitmoji {
  height: 50%;
  position: absolute;
  top: 36%;
  right: 43%;
}
