.secondContainer {
  background-image: url('../svg/background/teather.svg');
  justify-content: center;
  align-items: center;
}

#crowd {
  /* height: 50%; */
  margin-left: 0%;
  width: 115%;
  position: absolute;
  /* left: 28%; */
  bottom: 0%;
  margin-bottom: -15%;
  cursor: pointer;
  transition: 500ms ease;
  z-index: 20;
  /* padding: 0 2rem 2rem 0; */
  /* z-index: 20; */
}

#crowd:hover {
  filter: brightness(2);
  transform: scale(1.02);
}

#skull {
  position: absolute;
  height: 10%;
  top: 42%;
  left: 44.5%;
  cursor: pointer;
  transition: 500ms ease;
}

#skull:hover {
  transform: rotate(-10deg) scale(1.1);
}

#singer {
  position: absolute;
  height: 55%;
  bottom: 31.5%;
  right: 27.5%;
  cursor: pointer;
  transition: 500ms ease;
}

#singer:hover {
  transform: scale(1.1);
}

.secondContainer .title-container {
  top: 5%;
}
