.secondContainer {
  background-image: url('../svg/background/math-classroom.svg');
  /* justify-content: flex-start;
  align-items: center; */
}

#book {
  height: 6%;
  position: absolute;
  left: 33%;
  top: 57.5%;
  cursor: pointer;
  transition: 500ms ease;
  padding: 0 2rem 2rem 0;
  z-index: 20;
}

#book:hover {
  top: 55%;
}

#board {
  height: 28%;
  position: absolute;
  left: 34%;
  top: 36%;
  cursor: pointer;
  transition: 500ms ease;
}

#board:hover {
  transform: scale(1.05);
  top: 35%;
}

#tv {
  height: 16%;
  position: absolute;
  left: 11%;
  top: 29%;
  cursor: pointer;
  transition: 500ms ease;
  padding: 0 2rem 2rem 0;
}

#tv:hover {
  filter: brightness(2);
}
